@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #ffffff;
    --bg-url: url(assets/bg-mobile-dark.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --stroke-color-hover: #ffffff;
    --bg-bt: rgba(255, 255, 255, 0.05);
    --bg-bt-hover: rgba(255, 255, 255, 0.01);
    --highlight-hover: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(assets/moon-stars.svg);
} 

.light {
    --text-color: #000000;
    --bg-url: url(assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --stroke-color-hover: #000000;
    --bg-bt: rgba(0, 0, 0, 0.05);
    --bg-bt-hover: rgba(0, 0, 0, 0.02);
    --highlight-hover: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(assets/sun.svg);
}

body * {
    color: var(--text-color)
}
body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#container {
    width: 360px;
    height: 712px;

    margin: auto;
    position: absolute;
    top: 56px;
    left: calc(50% - 360px/2);
}

#profile {
    width: 360px;
    height: 192px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
    padding: 24px;
}

#profile img {
    width: 112px;
    height: 112px;
}

#profile a {
    font-family: 'Inter';
    font-weight: 400;
    color: var(--text-color);
}

#switch {
    position: relative;
    width: 64px;
    
    margin: 4px auto;
}

#switch span {
    display: block;
    /* por padrão o span é sempre display inline, tendo que trocar por display block*/
    width: 64px;
    height: 24px;
    background: var(--bg-bt);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
}
#switch button {
    width: 32px;
    height: 32px;
    background: #ffffff var(--switch-bg-url) no-repeat center;
    border-radius: 50%;
    border: 1px solid var(--stroke-color);

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.5s;
  
}

.light #switch button {
    left: initial;
    right: 0;
}

#links {
    width: 360px;
    height: 320px;

    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}
#links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#links a {
    width: 312px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 24px;

    background: var(--bg-bt);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    color: var(--text-color);
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 500;
    transition: background 1s;
}   

#links a:hover {
    background: var(--bg-bt-hover);
    border: 1.5px solid var(--stroke-color-hover);
    transition: background 0.5s;
}

#social {
    width: 360px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;
    border-radius: 50%;

    font-size: 26px;
    color: var(--text-color);
    transition: font-size 1s;
    transition: background 0.5s;
}
#social a:hover {
    background: var(--highlight-hover);
    color: var(--text-color);
    font-size: 34px;
    transition: font-size 0.5s;
    transition: background 0.5s;
    
}

#footer {
    width: 360px;
    height: 72px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 24px;
}

#footer p {
    font-family: 'Inter';
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

@media (min-width: 1250px) {
    :root {
        --bg-url: url('./assets/bg-desktop-dark.jpg')
    }

    .light {
        --bg-url: url('./assets/bg-desktop-light.jpg')
    }   
}